$blue: hsl(228, 45%, 44%);
/*Linear gradient (active input border)*/
$linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
/*Red (input errors)*/
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs22: 22px;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;

    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('./images/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;

        .card-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .card-front {
            position: relative;
            background-image: url('./images/bg-card-front.png');
            background-repeat: no-repeat;
            min-width: 447px;
            min-height: 245px;
            left: 8rem;
            padding: 2rem;
            color: $light-grayish-violet;
            display: grid;
            grid-template-columns: 320px 1fr;

            .card-number-value {
                font-size: 1.6rem;
                letter-spacing: 0.2em;
                margin-top: auto;
                grid-column: 1/3;
            }

            .cardholder-name-value {
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .cardholder-name-value,
            .card-expiry-date-value {
                font-size: $fs14;
                letter-spacing: 0.1em;
                align-self: end;
            }

            .card-expiry-date-value {
                justify-self: end;
            }
        }

        .card-back {
            position: relative;
            background-image: url('./images/bg-card-back.png');
            background-repeat: no-repeat;
            min-width: 447px;
            min-height: 245px;
            color: $light-grayish-violet;
            left: 14rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .card-cvc-value {
                font-size: $fs14;
                letter-spacing: 0.1em;
                margin-right: 4em;
                margin-bottom: 0.4em;
            }
        }
    }

    .right-side {
        display: flex;
        justify-content: center;
        width: 100%;

        form {
            display: grid;
            grid-template-columns: 5rem 5rem 11.875rem;
            column-gap: 0.5rem;
            grid-template-rows: repeat(8, 2.8125rem);
            place-content: center;

            .input-wrapper {
                border-radius: 0.4rem;
                padding: 1px;
                display: flex;
                background: $light-grayish-violet;
                display: grid;

                &:focus-within {
                    background: $linear-gradient;
                }

                &.invalid {
                    background-color: $red;
                }
            }

            .card-month-year-fields-wrapper {
                grid-column: 1/3;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                height: 2.8rem;
            }

            .error-label {
                color: $red;
                font-size: 12px;
                margin-top: 0.2em;

                &.exp-month-year-err-label {
                    grid-column: 1/3;
                }
            }

            .input-field {
                font-size: $fs16;
                border: none;
                border-radius: 0.4rem;
                padding-inline: 0.75rem;
                outline: none;
                width: 100%;
                color: $very-dark-violet;
                min-height: 2.7rem;

                &::placeholder {
                    color: $light-grayish-violet;
                }
            }

            .confirm-button {
                border-radius: 0.4rem;
                background-color: $very-dark-violet;
                color: $light-grayish-violet;
                border: none;
                outline: none;
                font-size: $fs16;
                min-height: 2.8125rem;
                margin-top: 2.5rem;
                cursor: pointer;
            }

            .full-width {
                grid-column: 1 / 4;
            }

            .span2 {
                grid-column: 1 / 3;
            }

            .field-label {
                align-self: end;
                font-size: $fs12;
                line-height: 1.75rem;
                letter-spacing: 0.1rem;
                color: $very-dark-violet;
            }

            .cvc-field,
            .cvc-label {
                margin-left: 0.5rem;
            }
        }

        .confirm-button {
            border-radius: 0.4rem;
            background-color: $very-dark-violet;
            color: $light-grayish-violet;
            border: none;
            outline: none;
            font-size: $fs16;
            min-height: 2.8125rem;
            margin-top: 2.5rem;
            cursor: pointer;
        }

        .hidden {
            display: none !important;
        }

        .thank-you-container {
            display: grid;
            grid-template-columns: 366px;
            place-content: center;
            text-align: center;

            .tick-mark-round {
                width: 80px;
                aspect-ratio: 1;
                background-image: url('./images/tick.png');
                background-repeat: no-repeat;
                margin-bottom: 2.25rem;
                place-self: center;
            }

            .thank-you-text {
                font-size: $fs22;
                font-weight: 400;
                margin-bottom: 1rem;
                color: $very-dark-violet;
            }

            .card-details-added-text {
                color: $light-grayish-violet;
                font-size: $fs14;
            }
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        bottom: 8px;
        position: fixed;
        width: 100%;

        a {
            color: $blue;
        }
    }

    .colors {
        position: fixed;
        right: 0;
        bottom: 0;
        display: flex;
        padding: 0.5rem;
        gap: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid #f9f9f9;

        &:hover div {
            width: 2rem;
        }

        div {
            width: 0.2rem;
            transform-origin: bottom right;
            transition: 300ms;
            aspect-ratio: 1;
            border-radius: 0.3rem;
        }

        .one {
            background: $linear-gradient;
        }

        .two {
            background: $light-grayish-violet;
        }

        .three {
            background: $dark-grayish-violet;
        }

        .four {
            background: $very-dark-violet;
        }
    }
}

@media only screen and (max-width: 1280px) {

    /* For mobile phones: */
    body {
        flex-direction: column;

        .left-side {
            gap: unset;
            min-height: 240px;
            max-height: 240px;
            position: relative;
            align-items: center;

            .card-wrapper {
                width: 340px;
                height: 254px;
                position: relative;
            }

            .card-front,
            .card-back {
                max-width: 286px;
                max-height: 157px;
                min-width: 286px;
                min-height: 157px;
                left: auto;
                background-size: contain;
            }

            .card-front {
                grid-template-columns: 210px 1fr;
                padding: 1.25rem;
                position: absolute;
                z-index: 1;
                bottom: -40px;

                .card-logo {
                    height: 31px;
                    width: 55px;
                }

                .card-number-value {
                    font-size: 14px;
                }

                .cardholder-name-value {
                    font-size: 8px;
                }

                .card-expiry-date-value {
                    font-size: 8px;
                }

            }

            .card-back {
                right: 0;
                text-align: revert;
                position: absolute;
                top: 34px;

                .card-cvc-value {
                    font-size: 8px;
                }
            }
        }

        .right-side {
            margin-top: 50px;

            form {
                grid-template-columns: 5rem 5rem 9.5rem;
            }

            .thank-you-container {
                margin-top: 20px;
                grid-template-columns: 330px;
            }
        }

        .colors {
            display: none;
        }

        .attribution {
            position: relative;
            margin-bottom: 10px;
            margin-top: auto;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 300px) {
    body {
        .left-side {
            .card-wrapper {
                scale: 0.8;
            }
        }

        .right-side {
            margin-top: 50px;

            form {
                grid-template-columns: 5rem 5rem 5.5rem;
            }

            .thank-you-container {
                margin-top: 20px;
                grid-template-columns: 270px;
            }
        }
    }
}